* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: $font-primary;

    &::placeholder {
        font-family: $font-primary;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $warm-black;
    min-width: 36rem;
    background-color: $off-white;
}

img,
svg {
    width: 100%;
}
