header.header
    section.header__logo-container
        +figure-img("1n_TDR3GiKGlotOtzsYUhFU-8oL-fjLj2", "Store icon").header__logo-icon
        h1.header__title Tienda Online
    p.header__subtitle Módulo "Porcentajes" con JavaScript
