.boxes-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24rem);
    grid-auto-rows: 10.2rem;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.boxes-data-input,
.boxes-results-final {
    padding: 1.2rem 1.2rem 1.6rem;
    border-radius: $border-radius-boxes;
}

.boxes-data-input--white {
    background-color: $just-white;
    box-shadow: $boxes-shadow;
}

.boxes-data-input__form,
.boxes-results-final__box-result {
    margin-block-start: 1.2rem;
}

.boxes-data-input__input,
.boxes-results-final__box-result {
    font-weight: 500;
    font-size: $medium;
    text-align: center;
    width: 21.6rem;
    height: 3.6rem;
    padding: 0 1.2rem;
    border-radius: $border-radius-boxes;

    &::placeholder {
        color: rgba($warm-gray, 0.4);
    }
}

.boxes-data-input__input--orange {
    border: 0.1rem solid $bitcoin-orange;
    background-color: $off-white;
}

.boxes-data-input-title {
    text-align: start;
}

.boxes-results-final--dark {
    background-color: $gray-plus-2;
    color: $just-white;
    box-shadow: $boxes-shadow3;
}

.boxes-results-final__box-result {
    @include all-center-flex;
}

.boxes-results-final__box-result--white {
    color: rgba($warm-gray, 0.4);
    background-color: $gray-plus-3;
    box-shadow: $boxes-shadow;
}

.color-white {
    color: $just-white;
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}